.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #9146ff;
    color: #fff;
    padding: 20px;
    width: 400px;
    height: 400px;
    border-radius: 10px;
    margin-left: 50px;
  }
  
  .contact-form h2 {
    margin-bottom: 20px;
  }
  
  .contact-form form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group textarea {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #fff;
    font-size: 16px;
  }
  
  .form-group textarea {
    height: 100px;
  }
  
  button[type="submit"] {
    background-color: #fff;
    color: #9146ff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  .artwork-container {
    position: relative;
    width: 600px;
    height: 600px;
    margin: 0 auto;
  }
  
  .shape-1 {
    position: absolute;
    top: 100px;
    left: 50px;
    width: 400px;
    height: 400px;
    background-color: #F04F48;
    transform: rotate(20deg);
    z-index: 5;
  }
  
  .shape-2 {
    position: absolute;
    top: 200px;
    left: 200px;
    width: 200px;
    height: 200px;
    background-color: #0D6E8F;
    transform: rotate(45deg);
    z-index: 4;
  }
  
  .shape-3 {
    position: absolute;
    top: 300px;
    left: 100px;
    width: 300px;
    height: 300px;
    background-color: #FFC857;
    transform: rotate(-30deg);
    z-index: 3;
  }
  
  .shape-4 {
    position: absolute;
    top: 50px;
    left: 250px;
    width: 100px;
    height: 100px;
    background-color: #2E294E;
    transform: rotate(75deg);
    z-index: 6;
  }
  
  .shape-5 {
    position: absolute;
    top: 400px;
    left: 300px;
    width: 150px;
    height: 150px;
    background-color: #C5D86D;
    transform: rotate(-45deg);
    z-index: 2;
  }
  
  .shape-6 {
    position: absolute;
    top: 150px;
    left: 400px;
    width: 250px;
    height: 250px;
    background-color: #EF8354;
    transform: rotate(15deg);
    z-index: 1;
  }
  
  .shape-7 {
    position: absolute;
    top: 50px;
    left: 450px;
    width: 50px;
    height: 50px;
    background-color: #E9D8A6;
    transform: rotate(90deg);
    z-index: 7;
  }
  
  .shape-8 {
    position: absolute;
    top: 450px;
    left: 100px;
    width: 200px;
    height: 200px;
    background-color: #A9B6C2;
    transform: rotate(-60deg);
    z-index: 8;
  }
  