/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Global styles */
  body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
  }
  
  header {
    background-color: #232f3e;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
  }
  
  nav a {
    color: #232f3e;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.5s ease;
  }
  
  nav a:hover {
    background-color: #232f3e;
    color: #fff;
  }
  
  iframe {
    border: none;
    width: 100%;
    height: 500px;
    background-color: #9147ff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  iframe:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  }
  
  iframe::before {
    content: "";
    display: block;
    width: 10px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #9147ff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  iframe::after {
    content: "";
    display: block;
    width: 10px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #9147ff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .main-content {
    font-family: Georgia, serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.05em;
    line-height: 1.5;
    text-align: justify;
  }
  
  .association-container {
    background-color: silver;
    padding: 40px;
    box-shadow: 5px 5px 5px grey;
  }
  
  .association-container h2 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px black;
    animation: shake 0.5s infinite;
  }
  
  .association-container p {
    font-size: 18px;
    line-height: 1.5;
  }
  
  @keyframes shake {
    0% { transform: translate(0, 0); }
    10% { transform: translate(-2px, -2px); }
    20% { transform: translate(2px, 2px); }
    30% { transform: translate(-2px, 0); }
    40% { transform: translate(0, 2px); }
    50% { transform: translate(2px, -2px); }
    60% { transform: translate(-2px, 2px); }
    70% { transform: translate(2px, 0); }
    80% { transform: translate(0, -2px); }
    90% { transform: translate(-2px, -2px); }
    100% { transform: translate(2px, 2px); }
  }
  
  h1 {
    font-size: 32px;
    font-weight: bold;
  }
  
  /* Box with scrolling text */
  .box {
    background: linear-gradient(to right, #6a00ff, #b066fe);
    color: #fff;
    width: 60%;
    height: 200px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
  }
  
  .scroll-text {
    animation: scroll 60s linear infinite;
    white-space: nowrap;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  
  .scroll-text span {
    display: inline-block;
    padding: 0 10px;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  /* Portfolio items */
  .portfolio-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .portfolio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .portfolio-item {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 40px;
    text-align: center;
    color:black;
  }
  
  .portfolio-item img {
    display: block;
    margin: 0 auto;
    border: 2px solid #ff0f0f;
    box-shadow: 0px 0px 5px #ff0f0f;
    max-width: 100%;
    filter: drop-shadow(0px 0px 10px #ff0f0f);
  }
  
  
  .portfolio-item h3 {
    margin-top: 20px;
    font-size: 1.5em;
  }
  
  .portfolio-item p {
    margin-top: 10px;
    font-size: 1em;
  }
  
  .portfolio-item:nth-child(odd) img {
    border-color: #000;
    box-shadow: 0px 0px 5px #000;
  }
  
  
  /* Footer */
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #232f3e;
    color: #fff;
    font-size: 14px;
    padding: 20px;
  }
  
  footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  
  .banner {
    position: relative;
  }
  
  .overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    font-weight: bold;
    color: red;
    text-shadow: 2px 2px #000;
    text-align: center;
    z-index: 1;
  }
  
  
  /* Banner with scrolling images */
  .banner {
    height: 200px;
    overflow: hidden;
    position: relative;
    border: 5px solid #FF3838;
    box-shadow: 0px 0px 20px #FF3838;
    border-radius: 20px;
  }
  .banner h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ff0000;
    font-size: 72px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 0 0 10px #000;
  }
  .credit-container {
    position: relative;
    width: 100%;
    height: 150px;
    overflow: hidden;
    background: linear-gradient(to right, #1c1c1c, #232323);
  }
  
  .credit {
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap;
    font-size: 20px;
    color: #fff;
    display: flex;
    align-items: center;
  }
  
  .credit span {
    padding: 10px;
  }
  
  .credit::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    height: 100%;
    width: 50px;
    background: linear-gradient(to right, #1c1c1c, #232323);
    transform: skew(-45deg);
    z-index: 1;
  }
  
  .credit::after {
    content: "";
    position: absolute;
    right: -50px;
    top: 0;
    height: 100%;
    width: 50px;
    background: linear-gradient(to right, #1c1c1c, #232323);
    transform: skew(-45deg);
    z-index: 1;
  }
  
  .credit span::before {
    content: "";
    position: absolute;
    left: -10px;
    top: -10px;
    height: 30px;
    width: 30px;
    background-color: #ff0f0f;
    border-radius: 50%;
    z-index: 2;
  }
  
  .credit span::after {
    content: "";
    position: absolute;
    right: -10px;
    top: -10px;
    height: 30px;
    width: 30px;
    background-color: #ff0f0f;
    border-radius: 50%;
    z-index: 2;
  }
  
  .scroll-images {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    animation: scroll 30s linear infinite;
  }
  
  .scroll-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: drop-shadow(0px 0px 10px rgba(255, 0, 255, 0.8));
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-100% * 5));
    }
  }
  
  
  
.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #232f3e;
    height: 60px;
    box-shadow: 0px 0px 20px #FF3838;
    border-radius: 10px;
  }
  
  .glowing-text {
    color: #fff;
    font-size: 32px;
    text-shadow: 0px 0px 10px #FF3838;
    animation: glowing 2s ease-in-out infinite;
  }
  
  @keyframes glowing {
    0% {
      text-shadow: 0px 0px 10px #FF3838;
    }
    50% {
      text-shadow: 0px 0px 20px #FF3838;
    }
    100% {
      text-shadow: 0px 0px 10px #FF3838;
    }
  }
  
  .god {
    display: inline-block;
    margin: 50px;
    animation: smoke 3s linear infinite;
}

.god img {
    width: 200px;
    height: auto;
    filter: drop-shadow(0px 0px 10px gold);
    animation: shake 2s linear infinite;
}

.god p {
    font-size: 24px;
    margin: 10px 0;
    text-shadow: 0px 0px 10px gold;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes smoke {
    0% {
        color: gold;
        text-shadow: 0px 0px 10px gold;
    }
    50% {
        color: #6a00ff;
        text-shadow: none;
    }
    100% {
        color: gold;
        text-shadow: 0px 0px 10px gold;
    }
}
h1 {
    font-family: Georgia, serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.05em;
    line-height: 1.5;
    text-align: justify;
}
